footer {
  text-align: center;
  color: rgb(49, 102, 147);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: 200px;
}
h1 {
  color: rgb(72, 154, 226);
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.container {
  max-width: 600px;
  background-color: rgb(254, 254, 254);
  margin: 80px auto;
  padding: 30px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

body {
  background-color: #fefefe;
}
.city {
  background-color: rgb(255, 255, 255);
  color: rgb(49, 102, 147);
  padding: 20px 0;
  margin: 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.181);
}

.city:last-child {
  border: none;
}

.link {
  color: white;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin: 20px 0;
  font-size: 18px;
}

.time {
  font-size: 36px;
}

.time small {
  line-height: 36px;
  font-size: 17px;
  vertical-align: middle;
}

.date {
  opacity: 0.7;
}
